* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#Menu {
    background-color: slategray;
    position: absolute;
    height:600px;
    width:300px;
    left:20%;
    top:10%;
}

#gc {
    position: absolute;
    left:39%;
    top:10%;
    z-index: 2;
}